html {
	--image-gradient: linear-gradient(
		to bottom left,
		rgba(68, 67, 84, 0.7),
		rgba(68, 67, 84, 0.8)
	);
}

.hero-about {
	background-image: var(--image-gradient), url("../images/about.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 680px;
}

.hero-layanan {
	background-image: var(--image-gradient), url("../images/layanan.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}

.container {
	padding: 4em 1.2em;
}

.circle-left {
	background: radial-gradient(
		circle,
		rgba(232, 244, 242, 0.3) 0%,
		rgba(232, 244, 242, 1) 100%
	);
	filter: blur(35px);
	border-radius: 50%;
	width: 350px;
	height: 350px;
	left: -60%;
	top: 45%;
	transform: translate(60%, -45%);
	position: absolute;
	z-index: -10;
}

.circle-right {
	background: radial-gradient(
		circle,
		rgba(232, 244, 242, 0.3) 0%,
		rgba(232, 244, 242, 1) 100%
	);
	filter: blur(35px);
	border-radius: 50%;
	width: 350px;
	height: 350px;
	left: 150%;
	top: 45%;
	transform: translate(-150%, -45%);
	position: absolute;
	z-index: -10;
}

.gradient-webDev {
	background: linear-gradient(
		180deg,
		rgba(44, 105, 141, 0.89) 0%,
		#ffffff 100%
	);
}

.card-step {
	box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.25);
}
.cards {
	display: grid;
	grid-auto-columns: 100%;
	grid-column-gap: 10px;
	grid-auto-flow: column;
	padding: 25px 0px;
	list-style: none;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	max-width: 95%;
}

.cards::-webkit-scrollbar {
	height: 12px;
}

@media (min-width: 500px) {
	.cards {
		grid-auto-columns: calc(50% - 10px);
		grid-column-gap: 20px;
	}
}

@media (min-width: 700px) {
	.cards {
		grid-auto-columns: calc(calc(100% / 3) - 20px);
		grid-column-gap: 30px;
	}
}

@media (min-width: 1100px) {
	.cards {
		grid-auto-columns: calc(40% - 100px);
		/* grid-auto-columns: calc(25% - 30px); */
		grid-column-gap: 40px;
	}
}
